/* Global styles */

html {
	/* Taken from DO stylesheet */
	font: 400 16px/1.5 Sailec-Regular,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #fff;
	color: rgba(3,27,78,.7);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

.page-container {
	max-width: 800px;
}

.events-heading {
	color: blue;
}

.calendar {
	border: 1px #ccc solid;
	position: relative;
	max-width: 40%;
}

.cal-hour {
	border-bottom: 1px #ccc solid;
}

.cal-event {
	background-color: #dafdc1;
	border-left: 4px #49a821 solid;
	position: absolute;
}
